.back_btn {
    height: 40px;
    width: 40px;
    background: var(--pink-blue-gradient);
    border: none;
    border-radius: 100px;
    box-shadow: inset 0px -5px 0px -1px rgba(157, 45, 245, .25);
}

.back_btn_icon {
    width: 17px;
    height: 17px;
}

.back_btn-link {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 100px;
}

/* /////////////////// hover /////////////////////// */

.back_btn:hover {
    background: var(--pink-blue-gradient-hover);
}