.main_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title_svg {
    height: 130px;
    width: 263px;
    position: absolute;
    top: -50px;
    
}

.start_btn {
    height: 160px;
    width: 160px;
    border-radius: 100px;
    background: var(--pink-blue-gradient);
    box-shadow: 0px 4px 0px 5px #243041, inset 0px -9px 0px 6px #9D2DF5;
    border: none;
}

.start_btn-link {
  position: relative;
  height: 160px;
  width: 160px;
  border-radius: 100px;
  margin-top: 130px;
  background-color: white;
}

.play_btn_svg  {
    height: 55px;
    width: 55px;
}

.how_to_play_btn {
    width: 260px;
    height: 62px;
    border-radius: 40px;
    background: var(--main-blue);
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    box-shadow: inset 0px -2px 0px 3px var(--very-dark-blue), inset 0px 1px 0px 6px var(--sky-blue);
}

.how_to_play-btn-link {
    background-color: white;
    width: 260px;
    height: 62px;
    border-radius: 40px;
    margin-bottom: 40px;
}

/* //////////////////// Hover ///////////////////// */

.start_btn:hover {
    cursor: pointer;
    background: var(--pink-blue-gradient-hover)
}

.how_to_play_btn:hover {
    cursor: pointer;
    background-image: white;
    background: var(--main-blue-hover)
}

/* ///////////////// media query ////////////////////// */

@media (min-width: 750px) {
    .start_btn {
        width: 200px;
        height: 200px;
    }

    .play_btn_svg {
        height: 65px;
        width: 65px;
    }

    .start_btn-link {
        width: 200px;
        height: 200px;
        margin-top: 110px;
    }

    .title_svg {
        height: 160px;
        width: 355px;
        top: -80px;
    }
}