.main_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title_svg {
    height: 130px;
    width: 263px;
    position: absolute;
    top: -50px;
    
}

.start_btn {
    height: 160px;
    width: 160px;
    border-radius: 100px;
    background: var(--pink-blue-gradient);
    box-shadow: 0px 4px 0px 5px #243041, inset 0px -9px 0px 6px #9D2DF5;
    border: none;
    margin-top: 130px;
}

.play_btn_svg  {
    height: 55px;
    width: 55px;
}

.how_to_play_btn {
    width: 260px;
    height: 62px;
    border-radius: 40px;
    background-color: var(--main-blue);
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 40px;
    box-shadow: inset 0px -2px 0px 3px var(--very-dark-blue), inset 0px 1px 0px 6px var(--sky-blue);
}

/* //////////////////// Hover ///////////////////// */

.start_btn:hover {
    cursor: pointer;
}

.how_to_play_btn:hover {
    cursor: pointer;
}