.paused_text {
    font-size: 6rem;
    font-weight: 400;
    background-image: var(--light-blue-white-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: -130px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
    z-index: 2;
}

.continue-btn {
    width: 226px;
}

.modal_btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.paused_title-shadow {
    position: absolute;
    top: -145px;
    font-size: 6rem;
    left: 20%;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: var(--dark-grey);  
}

/* /////////////// media query /////////////////// */ 

@media (min-width: 750px) {
    .paused_title-shadow {
        left: 33.8%;
    }
}