.win-lose-text {
    font-size: 6rem;
    font-weight: 400;
    background-image: var(--light-blue-white-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: -130px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
    z-index: 2;
}

.win-lose-text-shadow-lose {
    position: absolute;
    top: -145px;
    font-size: 6rem;
    left: 14%;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: var(--dark-grey);  
    width: 100%
}

.win-lose-text-shadow-win {
    position: absolute;
    top: -145px;
    font-size: 6rem;
    left: 16%;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: var(--dark-grey);  
    width: 100%
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-again-btn {
    width: 226px;
}

.win-shadow {
    position: absolute;
    top: -36px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 1;
    width: 220px;
    height: 85px;
    z-index: 1;
}

.lose-shadow {
    position: absolute;
    top: -37px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 1;
    width: 235px;
    height: 85px;
}


/* ////////////////////// media query ////////////////////////// */


@media (min-width: 750px) {
    .win-lose-text-shadow {
        position: absolute;
        top: -145px;
        left: 30.5%;
        font-size: 6rem;
    }

    .win-lose-text-shadow-win {
        position: absolute;
        top: -145px;
        font-size: 6rem;
        left: 31.5%;
        width: 100%
    }

    .win-lose-text-shadow-lose {
        position: absolute;
        top: -145px;
        font-size: 6rem;
        left: 30.5%;
        width: fit-content;
    }
}