.category_card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.category_pick_title {
    font-size: 3rem;
    font-weight: 400;
    background-image: var(--light-blue-white-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    min-width: fit-content;
}

.category_page_title_container {
    position: relative;
    margin-left: 20%;
    min-width: fit-content;
}

.category_page_title_shadow {
    position: absolute;
    top: 36%;
    height: 46px;
    width: 210px;
    right: 1px;
    z-index: -1;
}

.category_pick_header_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 7%;
    margin-bottom: 10%;
}