:root {
    --main-blue: #2463FF;
    --light-blue: #7199FF;
    --sky-blue: #3C74FF;
    --dark-blue: #261676;
    --very-dark-blue: #140e66;
    --dark-grey: #243041;
    --purple: #9d2df5;
    --light-purple: #887DC0;
    --pink: #FE71FE;
    --white: #FFFFFF;
    --pink-blue-gradient: linear-gradient(180deg, hsla(300, 99%, 72%, 1) 0%, hsla(223, 100%, 72%, 1) 100%);
    --light-blue-dark-blue-gradient: linear-gradient(180deg, hsla(230, 56%, 47%, 1) 0%, hsla(230, 100%, 24%, .83) 100%);
    --light-blue-white-gradient: linear-gradient(180deg, hsla(209, 100%, 70%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url("../assets/images/background-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: "Mouse Memoirs", sans-serif;
}

/* //////////////// shared styles ////////////////// */

.blue_modal-box {
    width: 324px;
    height: 531px;
    margin-bottom: -10%;
    background: var(--light-blue-dark-blue-gradient);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 48px;
    box-shadow:  inset 0px -8px 0px 4px var(--very-dark-blue), inset 0px 6px 0px 8px var(--main-blue);
    position: relative;
}

.small_modal-box {
    height: 477px;
}



.modal_btn-blue {
    height: 62px;
    border-radius: 40px;
    background-color: var(--main-blue);
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 40px;
    box-shadow: inset 0px -2px 0px 3px var(--very-dark-blue), inset 0px 1px 0px 6px var(--sky-blue);
}

.modal_btn-pink {
    height: 62px;
    border-radius: 40px;
    background: var(--pink-blue-gradient);
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 40px;
    box-shadow: inset 0px -2px 0px 3px var(--very-dark-blue), inset 0px 1px 0px 6px #C642FB;
}


/* ///////////////// shared hover /////////////////// */

.modal_btn-pink:hover,
.modal_btn-blue:hover {
    cursor: pointer;
}